
body {
    overscroll-behavior: contain;
}

.headJudgeInterface {
    li {
        font-size: 1.5em;
    }

    .poolSelectContainer {
        display: flex;
        flex-direction: row;
    }

    .poolWidget {
        display: flex;
        flex-direction: row;
    }

    .poolWidgetActive {
        background-color: rgb(70, 224, 230);
    }
}