
.judgeWidgetBase {
    position: relative;
    height: 100%;
    overflow: hidden;

    li {
        font-size: 1.5em;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    }

    li:hover {
        color: gray;
    }

    .infoWidget {
        display: flex;
        flex-direction: row;
        position: absolute;
        cursor: none;
        right: 2px;
        top: 2px;
        width: 12em;
        background-color: aliceblue;
        border: 1px solid gray;

        .teamNames {
            flex-grow: 1;
            font-size: .9em;
        }

        .time {
            font-size: 1.5em;
        }
    }

    .generalWidget {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: aliceblue;

        @keyframes glowing {
            0% {
                background-color: #4d4d4d8e;
                box-shadow: 0 0 5px #4d4d4d8e;
            }
            50% {
                background-color: #9191913b;
                box-shadow: 0 0 20px #9191913b;
            }
            100% {
                background-color: #4d4d4d8e;
                box-shadow: 0 0 5px #4d4d4d8e;
            }
        }

        .header {
            font-weight: bold;
            font-size: 3em;
        }

        .generalInputNumberWidget {
            width: 100%;
            height: 50%;
        }

        .teams {
            margin: 5px;
            .team {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 1.7em;
                border: 1px gray solid;
                margin-bottom: -1px;
                cursor: pointer;

                .names {
                    padding-left: 5px;
                }

                .general {
                    padding-right: 5px;
                }
            }

            button {
                width: 100%;
                font-size: 3em;
                animation: glowing 1300ms infinite;
                background-color: gray;
            }
        }
    }

    .finishedWidget {
        position: absolute;
        width: 100%;
        height: 8%;
        z-index: 1;

        button {
            width: 100%;
            height: 100%;
            font-size: 2em;
            animation: glowing 1300ms infinite;
            background-color: rgba(53, 53, 53, 0.37);
        }
    }
}

.expired {
    opacity: .25;
}

.inputNumberWidget {
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 248, 248, 0.8);

    .row {
        display: flex;
        flex-direction: row;
        width: 100%;

        .cell {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: 1px solid black;
            margin-top: -1px;
            margin-left: -1px;

            button {
                flex-grow: 1;
                margin: 5px;

                font-size: 3em;
                font-weight: bold;
            }
        }
    }
}

.inputIncrementWidget {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    button {
        flex-grow: 1;
        font-size: 3em;
        margin: 5px;
    }
}

.judgeWidgetExAi {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;

    .ai {
        width: 100%;
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            label {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-grow: 1;
                font-size: 2em;
            }
        }

        .aiInputs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 4em;

            .number {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-grow: 1;
                background-color: aliceblue;
                margin: 5px;
                cursor: pointer;
            }
        }
    }

    .ex {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        flex-grow: 1;

        .exRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid gray;
            margin-bottom: -1px;
            flex-grow: 1;

            .number {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 2em;
                font-size: 3em;
            }

            label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 3em;
            }

            .exInput {
                flex-grow: 1;
            }
        }
    }

    .inputNumber {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 60%;
    }
}

.judgeWidgetVariety {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;

    .numbers {
        width: 100%;
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            label {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-grow: 1;
                font-size: 2em;
            }
        }

        .varietyInputs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 4em;

            .number {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-grow: 1;
                background-color: aliceblue;
                margin: 5px;
                cursor: pointer;
            }
        }
    }

    .input {
        width: 100%;
        height: 60%;
    }
}

.judgeWidgetDiff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;

    .diffInputNumberWidget {
        width: 100%;
    }

    .phrasesWidget {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: scroll;
        margin-bottom: 1em;
        border: 1px gray solid;
        padding: 2px;
        width: 100%;
        min-height: 2em;
        flex-grow: 1;
        align-content: flex-start;

        .block {
            display: flex;
            flex-direction: row;
            background-color: lightblue;
            margin-top: .5em;
            margin-right: .5em;

            .score {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 2em;
                font-weight: bold;
                background-color: aliceblue;
                width: 2em;
                margin: .1em;
            }
        }
    }
}

.judgeSelect {
    display: flex;
    flex-direction: column;

    button {
        font-size: 2em;
    }
}

.scoresWidget {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .judgeName {
            font-size: 2em;
        }
    }
}

.scoreTeams {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;

    .teams {
        overflow-y: scroll;
        width: 100%;
        min-height: 5em;

        .team {
            user-select: none;
            border-top: solid lightgray 2px;

            .header {
                font-size: 1.25em;

                .names {
                    padding-left: 5px;
                }

                .selected {
                    font-weight: bold;
                }

                .general {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color: lavender;
                    width: 2.2em;
                    cursor: pointer;
                }

                .total {
                    margin-right: 5px;
                }
            }

            .marks {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .mark {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 1.5em;
                    font-size: 1.8em;
                    background-color: lavender;
                    margin: 2px;
                    cursor: pointer;
                }

                .newMark {
                    .mark;
                    background-color: lightblue;
                }
            }

            .varietyInputs {
                display: flex;
                flex-direction: row;
                font-size: 2em;

                .input {
                    margin: 2px;
                    padding-left: 2px;
                    padding-right: 2px;
                    background-color: lavender;
                    cursor: pointer;
                }
            }

            .exAi {
                display: flex;
                flex-direction: column;

                .exAiInputs {
                    display: flex;
                    flex-direction: row;
                    font-size: 2em;

                    .input {
                        margin: 2px;
                        padding-left: 2px;
                        padding-right: 2px;
                        background-color: lavender;
                        width: 3.5em;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .scoresInput {
        width: 100%;
        height: 50%;
    }
}
